/**
 * This makes most adjustments to make the site look like wikisym
 */

/* Header */
#dokuwiki__header p.claim {
    text-align: center;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 2em;
    font-family: Trebuchet, sans-serif;
}

#dokuwiki__header h1 {
    float: left;
}

#dokuwiki__header div.more {
    height: 200px;
    text-align: right;
    font-family: Georgia, serif;
}

#dokuwiki__header p.loc {
    font-size: 1.8em;
}

#dokuwiki__header p.until {
    line-height: 1em;
    font-size: 1.4em;
    font-style: italic;
}

#dokuwiki__header p.until span {
    font-size: 1.6em;
    font-style: normal;
}

/* Navigation */
#dokuwiki__navigation {
    border-top: 4px solid __border__;
    border-bottom: 4px solid __border__;
    margin: 0.5em 0 2em 0;
    background-color: #fafafa;

    // like the claim:
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 2em;
    font-family: Trebuchet, sans-serif;
}

#dokuwiki__navigation div.pad {
    display: table; //FIXME we need better solution here
    margin: 0.3em auto 0.1em;
}

#dokuwiki__navigation a:link,
#dokuwiki__navigation a:visited {
    color: __greenish__;
}

#dokuwiki__navigation a:active,
#dokuwiki__navigation a:hover {
    color: __greenishlight__;
}

#dokuwiki__navigation ul {
    padding: 0;
    display: table-row;
}

#dokuwiki__navigation li {
    float: left;
}

#dokuwiki__navigation li:first-child {
    list-style-type: none;
    margin-left: 0;
}

/* IE fixes */
#IE7 #dokuwiki__navigation,
#IE6 #dokuwiki__navigation {
    text-align: center;
}

#IE7 #dokuwiki__navigation ul,
#IE6 #dokuwiki__navigation ul {
    display: inline;
}

#IE7 #dokuwiki__navigation ul li,
#IE6 #dokuwiki__navigation ul li {
    float: none;
    display: inline;
}

#IE7 #dokuwiki__navigation ul li div,
#IE6 #dokuwiki__navigation ul li div {
    display: inline;
}

/* Breadcrumbs */
div.dokuwiki div.breadcrumbs {
    margin-bottom: 2em;
}

div.dokuwiki div.breadcrumbs span.bchead {
    display: none;
}

div.dokuwiki div.breadcrumbs a {
    color: __text__;
    font-size: 1em;
    font-family: Georgia, serif;
}

/* Wiki Tools */
#wiki__tools p {
    font-size: 0.8em;
}


/* Footers */
#dokuwiki__footer {
    font-size: 0.8em;
    padding: 1em 0 0.5em 0;
}


#wikisym__footer {
    text-align: right;
    border-top: 8px solid __border__;
    border-bottom: 8px solid __border__;
    margin: 2em 0;
    color: #747474;
    padding: 1em 0;
    background-color: #fafafa;
}
